/*=======================
      TOOLS
=========================*/
/*=======================
      SETTINGS
=========================*/
/*=======================
     BRAND
  =======================*/
:root {
  --color-primary: #eb2f64; }

:root {
  --color-primary-100: white;
  --color-primary-200: #f8bbcc;
  --color-primary-300: #f48ca9;
  --color-primary-400: #ef5480;
  --color-primary-600: #d3144a;
  --color-primary-700: #a4103a;
  --color-primary-800: #760b29;
  --color-primary-900: #470719; }

/*=======================
     ESCALA DE GRISES
  =======================*/
:root {
  --color-gray: #666666; }

:root {
  --color-gray-100: #e6e6e6;
  --color-gray-200: #b3b3b3;
  --color-gray-300: #999999;
  --color-gray-400: #7a7a7a;
  --color-gray-600: #4d4d4d;
  --color-gray-700: #333333;
  --color-gray-800: #1a1a1a;
  --color-gray-900: black; }

:root {
  --color-white: #fff;
  --color-black: #000; }

:root {
  --wrapper-size: 120rem;
  --border-width: 0.1rem;
  --border-color: var(--color-gray-300);
  --border-default: 4rem;
  --border-tiny: .3rem;
  --border-round: 50%;
  --letter-spacing-default: .1rem;
  --letter-spacing-xl: .2rem;
  --letter-spacing-sm: 0.03rem;
  --letter-spacing-xs: -0.05rem;
  --letter-spacing-xxs: -.2rem;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --transition-base: all 0.2s ease-in-out;
  --transition-fade: opacity 0.15s linear;
  --transition-collapse: height 0.35s ease;
  --zindex-background: -1;
  --zindex-normal: 1;
  --zindex-header: 2;
  --zindex-popover: 4;
  --zindex-fixed-element: 5;
  --zindex-overlay: 10;
  --zindex-overlay-above: 11;
  --zindex-mars: 999; }

/* Spacing */
:root {
  --space-default: .4rem;
  --space-xxxxs: calc(var(--space-default) / 4);
  --space-xxxs: calc(var(--space-default) / 2);
  --space-xxs: calc(var(--space-default));
  --space-xs: calc(2 * var(--space-default));
  --space-sm: calc(4 * var(--space-default));
  --space-md: calc(6 * var(--space-default));
  --space-lg: calc(12 * var(--space-default));
  --space-xl: calc(24 * var(--space-default));
  --space-xxl: calc(48 * var(--space-default));
  --padding-default: 48px;
  --margin-bottom-default: 48px; }

:root {
  --font-family-primary: "PlayfairDisplay", sans-serif !important;
  --font-family-secondary: "PlayfairDisplay", sans-serif !important;
  --font-size-base: var(--font-base);
  --font-line-height-base: 1.6;
  --font-weight-base: var(--font-weight-regular);
  --font-xxs: 1rem;
  --font-xs: 1.2rem;
  --font-sm: 1.4rem;
  --font-base: 1.6rem;
  --font-md: 1.8rem;
  --font-lg: 2.0rem;
  --font-xl: 2.4rem;
  --font-xxl: 3.0rem;
  --font-xxxl: 3.6rem;
  --font-xxxxl: 4.8rem;
  --font-xxxxxl: 6.0rem;
  --font-xxxxxxl: 7.2rem;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: normal;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: bold;
  --font-weight-extrabold: 800;
  --font-weight-black: 900; }

/*============================
           Fonts
=============================*/
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Regular.eot");
  src: url("../fonts/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Medium.eot");
  src: url("../fonts/PlayfairDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Medium.woff") format("woff"), url("../fonts/PlayfairDisplay-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-SemiBold.eot");
  src: url("../fonts/PlayfairDisplay-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-SemiBold.woff") format("woff"), url("../fonts/PlayfairDisplay-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

/*=======================
      GENERICS
=========================*/
body {
  font-family: var(--font-family-primary), "sans-serif";
  font-weight: var(--font-weight-regular);
  font-size: var(--font-base);
  color: var(--color-gray-600);
  line-height: var(--font-line-height-base);
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-800));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit;
  font-size: 62.5%; }

/*=======================
      ELEMENTS
=========================*/
/*=======================
      OBJECTS
=========================*/
/*=======================
      COMPONENTS
=========================*/
.container {
  max-width: var(--wrapper-size);
  background-color: var(--color-white);
  margin: 8rem auto;
  box-shadow: var(--shadow-dark); }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-base); }

/*===========================
    LOGO
  ===========================*/
.icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem; }

.icon-logo {
  width: 4.5rem;
  height: 4.5rem;
  fill: none;
  stroke: #eb2f64;
  stroke-width: 6px; }

/*===========================
    search
  ===========================*/
.search {
  font-size: var(--font-size-base);
  flex: 0 0 42%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-gray-100);
    border: none;
    padding: .7rem 2.2rem;
    border-radius: 100px;
    width: 85%;
    transition: all .2s;
    margin-left: 1.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%; }
    .search__input::-webkit-input-placeholder {
      font-weight: var(--font-weight-thin); }
  .search__button {
    border: none;
    background-color: transparent;
    display: flex; }
    .search__button:focus {
      outline: none; }
  .search__icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: -4.5rem;
    fill: var(--color-gray-400); }

/*===========================
    USER NAVIGATION
  ===========================*/
.user-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: stretch;
  font-size: var(--font-xxxl);
  /*@include e(user-name) {
   }*/ }
  .user-nav > * {
    padding: 0 1.2rem;
    cursor: pointer;
    height: 100%; }
  .user-nav > *:hover {
    background-color: var(--color-gray-200); }
  .user-nav__icon-box {
    display: flex;
    align-items: center;
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-gray-400); }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.55rem;
    width: 1.55rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    position: absolute;
    top: 1.5rem;
    right: .7rem;
    display: flex;
    justify-content: center; }
  .user-nav__user {
    display: flex;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1.5rem; }

.content {
  display: flex;
  flex-direction: row; }

.sidebar {
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-gray-700); }

/*====================
   SIDE NAVIGATION
 ====================*/
.navigation {
  padding: 6var(--padding-default)(); }
  .navigation__side-nav {
    font-size: var(--font-base);
    list-style: none;
    margin-top: 3.5rem;
    position: relative; }
    .navigation__side-nav:not(:last-child) {
      margin-bottom: .5rem; }
    .navigation__side-nav__item {
      font-size: var(--font-base); }
      .navigation__side-nav__item::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: .3rem;
        background-color: var(--color-primary); }
    .navigation__side-nav__link:link, .navigation__side-nav__link:visited {
      color: var(--color-gray-100);
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.5rem;
      display: flex;
      align-items: center; }
    .navigation__side-nav__icon {
      width: 1.7rem;
      height: 1.7rem;
      margin-right: 2rem;
      fill: currentColor; }
    .navigation__side-nav span {
      font-size: var(--font-size-base); }

/*====================
    LEGAL TEXT
  ====================*/
.legal {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-gray-200);
  padding: calc(6 * var(--space-default)); }

.hotel-view {
  flex: 1;
  height: 80rem;
  background-color: var(--color-white); }

/*=======================
      UTILITIES
=========================*/
