/* Spacing */
:root {
  --space-default: .4rem; //4px
  --space-xxxxs: calc(var(--space-default) / 4);
  --space-xxxs: calc(var(--space-default) / 2);
  --space-xxs: calc(var(--space-default));
  --space-xs: calc(2 * var(--space-default));
  --space-sm: calc(4 * var(--space-default));
  --space-md: calc(6 * var(--space-default));
  --space-lg: calc(12 * var(--space-default));
  --space-xl: calc(24 * var(--space-default));
  --space-xxl: calc(48 * var(--space-default));
  --padding-default: 48px;
  --margin-bottom-default: 48px;
}