:root {
  // Wrapper
  --wrapper-size: 120rem;
  // Border variables
  --border-width: 0.1rem; //1px
  --border-color: var(--color-gray-300);
  --border-default: 4rem;
  --border-tiny: .3rem;
  --border-round: 50%;
  // Letter spacing variables
  --letter-spacing-default: .1rem;
  --letter-spacing-xl: .2rem;
  --letter-spacing-sm: 0.03rem;
  --letter-spacing-xs: -0.05rem; //-1.5px
  --letter-spacing-xxs: -.2rem;
  //Shadows
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  // Transition variables
  --transition-base: all 0.2s ease-in-out;
  --transition-fade: opacity 0.15s linear;
  --transition-collapse: height 0.35s ease;
  // Depth variables
  --zindex-background: -1;
  --zindex-normal: 1;
  --zindex-header: 2;
  --zindex-popover: 4;
  --zindex-fixed-element: 5;
  --zindex-overlay: 10;
  --zindex-overlay-above: 11;
  --zindex-mars: 999;
}
