:root {
  // Font variables
  --font-family-primary: "PlayfairDisplay", sans-serif !important;
  --font-family-secondary: "PlayfairDisplay", sans-serif !important;
  --font-size-base: var(--font-base);
  //--font-size-base: 50px;
  --font-line-height-base: 1.6;
  --font-weight-base: var(--font-weight-regular);
  // Font sizes
  --font-xxs: 1rem;
  --font-xs: 1.2rem;
  --font-sm: 1.4rem;
  --font-base: 1.6rem;
  --font-md: 1.8rem;
  --font-lg: 2.0rem;
  --font-xl: 2.4rem;
  --font-xxl: 3.0rem;
  --font-xxxl: 3.6rem;
  --font-xxxxl: 4.8rem;
  --font-xxxxxl: 6.0rem;
  --font-xxxxxxl: 7.2rem;
  // Font weights
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: normal;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: bold;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

// Sass font weight variables
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: normal;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: bold;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// Font colors
@include add-color(--font-color-primary, var(--color-black), false);
@include add-color(--font-color-secondary, var(--color-white), false);

/*============================
           Fonts
=============================*/
$fontPath: '../fonts/';
@include fontFace('PlayfairDisplay', '#{$fontPath}PlayfairDisplay-Regular', normal, $font-weight-regular);
@include fontFace('PlayfairDisplay', '#{$fontPath}PlayfairDisplay-Medium', normal, $font-weight-medium);
@include fontFace('PlayfairDisplay', '#{$fontPath}PlayfairDisplay-SemiBold', normal, $font-weight-semibold);
