$colors-map: () !default;

/*=======================
     BRAND
  =======================*/
@include add-color(--color-primary, #eb2f64, true);

/*=======================
     ESCALA DE GRISES
  =======================*/
@include add-color(--color-gray, #666666, true);

:root {
  --color-white: #fff;
  --color-black: #000;
}