body {
  font: {
    family: var(--font-family-primary), 'sans-serif';
    weight: var(--font-weight-regular);
    size: var(--font-base);
  }
  color: var(--color-gray-600);
  line-height: var(--font-line-height-base);
  background-image: linear-gradient(to right bottom,
                    var(--color-primary),
                    var(--color-primary-800)
  );
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}