.container {
  max-width: var(--wrapper-size);
  background-color: var(--color-white);
  margin: 8rem auto;
  box-shadow: var(--shadow-dark);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: var(--font-base);

}

/*===========================
    LOGO
  ===========================*/
.icon-center {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 7rem;
  height: 7rem;
}

.icon-logo {
  width: 4.5rem;
  height: 4.5rem;
  fill: none;
  stroke: #eb2f64;
  stroke-width: 6px;
}

/*===========================
    search
  ===========================*/
.search {
  font-size: var(--font-size-base);

  flex: 0 0 42%; //para que ocupe el 40% del 100%
  display: flex;
  justify-content: center;
  align-items: center;

  @include e(input) {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-gray-100);
    border: none;
    padding: .7rem 2.2rem;
    border-radius: 100px;
    width: 85%;

    transition: all .2s; //transicion suave al hacer focus en el input
    margin-left: 1.5rem;

    &:focus {
      outline: none;
      width: 100%;
    }
    &::-webkit-input-placeholder {
      font-weight: var(--font-weight-thin);

    }
  }
  @include e(button) {
    border: none;
    background-color: transparent;
    display: flex;

    &:focus {
      outline: none;
    }
  }
  @include e(icon) {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: -4.5rem;
    fill: var(--color-gray-400);
  }
}

/*===========================
    USER NAVIGATION
  ===========================*/
.user-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: stretch; //hace que se ajuste TODO a la altura del header

  font-size: var(--font-xxxl);
  & > * {
    padding: 0 1.2rem;
    cursor: pointer;
    height: 100%;
  }
  & > *:hover {
    background-color: var(--color-gray-200);
  }

  @include e(icon-box) {
    display: flex;
    align-items: center;
    position: relative;
  }
  @include e(icon) {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-gray-400);
  }
  @include e(notification) {
    font-size: .8rem;
    height: 1.55rem;
    width: 1.55rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    position: absolute;
    top: 1.5rem;
    right: .7rem;
    display: flex;
    justify-content: center;
  }
  @include e(user) {
    display: flex;
    align-items: center;
  }
  @include e(user-photo) {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1.5rem;

  }
  /*@include e(user-name) {
   }*/
}