.content {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--color-gray-700);
}


/*====================
   SIDE NAVIGATION
 ====================*/
.navigation {

  padding: call(6 + var(--padding-default));

  @include e(side-nav) {
    font-size: var(--font-base);
    list-style: none;
    margin-top: 3.5rem;
    position: relative;

    &:not(:last-child) { //todo hay que terminar el sidebar.
      margin-bottom: .5rem;
    }

    @include e(item) {
      font-size: var(--font-base);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: .3rem;
        background-color: var(--color-primary);
      }
    }
    @include e(link) {
      &:link,
      &:visited {
        color: var(--color-gray-100);
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem;

        display: flex;
        align-items: center;
      }
    }
    @include e(icon) {
      width: 1.7rem;
      height: 1.7rem;
      margin-right: 2rem;
      fill: currentColor;
    }

    span {
      font-size: var(--font-size-base);
    }
  }
}

/*====================
    LEGAL TEXT
  ====================*/
.legal {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-gray-200);
  padding: calc(6 * var(--space-default));
}

.hotel-view {
  flex: 1; //grow as much as can.
  height: 80rem; //for test

  background-color: var(--color-white);
}